<div class="main-sidebar sidebar-style-2">
  <aside id="sidebar-wrapper">
    <div class="sidebar-brand">
      <a href="/">Stisla</a>
    </div>
    <div class="sidebar-brand sidebar-brand-sm">
      <a href="/">St</a>
    </div>
    <ul class="sidebar-menu">
      <!-- Dashboard -->
      <li class="menu-header">Dashboard</li>
      <li class="dropdown active">
        <a href="/dashboard" class="nav-link"><i class="fas fa-fire"></i><span>Dashboard</span></a>
      </li>

      <!-- Master Menu -->
      <li class="menu-header">Master Menu</li>
      <li class="dropdown">
        <a href="/admin-donatur" class="nav-link"><i class="fas fa-hand-holding-heart"></i><span>Donatur</span></a>
      </li>
      <li class="dropdown">
        <a href="/admin-penerima" class="nav-link"><i class="fas fa-users"></i><span>Penerima</span></a>
      </li>
      <li class="dropdown">
        <a href="/admin-pengelola" class="nav-link"><i class="fas fa-user-cog"></i><span>Pengelola</span></a>
      </li>

      <!-- Master Data -->
      <li class="menu-header">Master Data</li>
      <li class="dropdown">
        <a href="/data-donatur" class="nav-link"><i class="fas fa-database"></i><span>Data Donatur</span></a>
      </li>
      <li class="dropdown">
        <a href="/data-penerima" class="nav-link"><i class="fas fa-database"></i><span>Data Penerima</span></a>
      </li>
      <li class="dropdown">
        <a href="/data-pengelola" class="nav-link"><i class="fas fa-database"></i><span>Data Pengelola</span></a>
      </li>

      <!-- Master Akun -->
      <li class="menu-header">Master Akun</li>
      <li class="dropdown">
        <a href="/kelola-akun" class="nav-link"><i class="fas fa-user-shield"></i><span>Kelola Akun</span></a>
      </li>
    </ul>
  </aside>
</div>
